.about-container{
    margin-top: 150px;
    margin-bottom: 100px;
}
.about{
    display: flex;
    justify-content: space-between;
}
.star-mark{
    display: flex;
    flex-direction: column;
}
.fa-star{
    color: var(--button-color);
}
.desc h2{
    font-size: 40px;
    font-weight: 800;
}
.star-desc h3{
    font-size: 47px;
    font-weight: 700;
}

.desc p{
    font-size: 20px;
    font-weight: 400;
    color: #5d5d5d;
}

/* end about section */

.experience-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.description h1{
    text-transform:uppercase;
}
.duration{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 30px; 
}
.duration .job-details{
    border-bottom: 1px solid var(--font-primary-color);
}
.job-details{
    display: flex;
}
.job-details h2{
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
}
.job-details h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* end about section */

/* start award section */
.caption{
    text-align: center;
}
.award-details{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.award-time{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 20px;
}
.desc p{
    padding: 30px 0px;
}
/* end award sectiom */

/* start portfolio section */

.my-portfolio .caption h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}
.my-portfolio .caption p{
    font-size: 18px;
    font-weight: 400;
    color: #5d5d5d;
    margin-bottom: 30px;
}
.my-portfolio .button{
    margin-bottom: 30px;
}
.my-portfolio .caption a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    background-color: black;
    padding-right: 10px;
    padding: 10px 20px;


}
.my-portfolio .caption .web{
    background-color:var(--button-color);
}
.my-portfolio .web-design{
    display: flex;
    justify-content: center;
    gap:80px;
    text-align: left;
    padding-top: 40px;
    position: relative;
}

.web-design .image{
    position: relative;
    z-index: 99;
}
.web-design .image::after{
    content: '';
    position: absolute;
    width: 431px;
    height: 100%;
    background: url(image/Web\ Designs.png);
    top: 20%;
    lefT: -35%;
   background-repeat: no-repeat;
   z-index: 999;
    
}
.web-design .landing-page{
    position: relative;
    margin-left: 30px;
}
.web-design .landing-page::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 99%;
    background: url(image/Web\ Designs.png);
    top: 21%;
    lefT: -35%;
   background-repeat: no-repeat;
   z-index: 999;
   
   
}
.black-background{
    position: relative;
}
.black-background::after{
    content: '';
    position: absolute;
    background-color: black;
    width: 410px;
    height: 100%;
    top: -33px;
    left: -38%;
    z-index: -999;
}
.my-portfolio .web-design h2{
    font-style: italic;
    font-size: 20px;
    font-weight: 600;

}
.my-portfolio .web-design p{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-right: 50px;
}

/* end portfolio section */

/* start reach out section */
.reah-out{
    align-items: center;
    
}
.reach-out .caption{
    margin-bottom: 40px;
}
.reach-out .caption h4{
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
}


.what-project{
    background-color: #34261b;
    align-items: center;
    padding: 100px 255px;
    margin-bottom: 100px;
}
.what-project .name-email{
    display: flex;
    justify-content:space-between;
    
}
.what-project h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.what-project .name  input{
    width: 300px;
    height: 34px;
    box-sizing: border-box;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    text-transform: uppercase;
   
}
.what-project .email  input{
    width: 300px;
    height: 34px;
    box-sizing: border-box;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    text-transform: uppercase;
}
.what-project textarea{
    width: 704px;
    height: 48px;
    margin-top: 40px;
    box-sizing: border-box;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    
}
.area-file input{
    background: transparent;
    box-sizing: border-box;
    border: none;
}
.area-file h2{
    background: var(--button-color);
    padding: 15px 20px;
    width:fit-content;
    font-size: 18px;
    font-style: italic;
    margin-top: 30px;
}
.reach-out{
    padding:0px 
}


/* end reach out */

/* start social media */
.footer-media{
    padding: 20px 0px;
}
.social-media{
    background-color: black;
    text-align: center;
}
.social-media h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    color: var(--button-color);
}
.social-media .menu-list{
    display:flex;
    justify-content: center;
    gap: 0px 20px;
    margin: 50px 0px;
    text-transform: capitalize;

}
.social-media  i{
  
    padding: 10px 15px;
    font-size:32px;
    text-transform: capitalize;
    
}
.social-media .fa-facebook-f  {
    border-radius: 100%;
    background-color:var(--font-primary-color);
    color: #343434;
}
.social-media .fa-twitter{
    background: none;
    color:var(--font-primary-color) ;
}
.social-media .fa-instagram{
    background: none;
    color:var(--font-primary-color);

}
.social-media .fa-linkedin-in{
    color:#343434;
    background-color:var(--font-primary-color);
    padding: 5px;
}

/* end socal media */

/* start copyright */
.copyright{
    text-align: center;
    padding: 40px ;
    font-size: 21px;
    font-weight: 400;
    
}
.copyright a{
    text-decoration: none;
    color: var(--button-color);
    font-weight: 400;
    font-size: 21px;
    line-height: 35px;
}
/* end copyright */
@media only screen and (min-width:200px) and (max-width:600px){

    .about{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px 0px;
    }
    .experience-details{
        flex-direction: column;
    }
    .experience-details .description{
        text-align: center;
    }
    .experience-details .description{
        font-size: 10px;
    }
    .experience-details .duration{
        margin: 0px 30px;
    }
    .award-details {
        flex-direction: column;
        text-align: center;
    }
    .award-time {
        flex-direction: column;
    }
    .my-portfolio {
        align-items: center;
    }
    .my-portfolio .web-design{
        flex-direction: column;
        text-align: center;
        text-align: center;
    }
    .my-portfolio .caption p{
        text-align: center;
    font-size: 10px;
}
.my-portfolio .button a{
    display: none;
} 
.web-design{
    flex-direction: column;
}
.web-design .image::after{
    display: none;
}
.web-design .landing-page::after{
    display: none;
}
.web-design .black-background{
    width: fit-content;

}
.reach-out{
    display: grid;
    justify-content: center;
}
.what-project{
      text-align: center;
    width: auto;
    margin-bottom:10px;
    padding: 0px 20px;
}
.what-project h1{
    font-size: 30px;
}
.name-email{
    display: flex;
    flex-direction: column;
}
.area-file{
    display:grid;
    grid-template-columns:auto;
    padding:0px 0px;
    
}
.area-file textarea{
    width: fit-content;
}
.area-file h2{
    padding:10px 10px;
}
.social-media{
    display: flex;
    flex-direction: column;
}
.social-media .menu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px 0px;
}
.copyright-section{
    width: auto;
}
}